{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <!-- Left sidebar -->
    <!-- load the sidebar here -->
        {% include 'dashboard/sidebar.html' %}
s
    <!-- Right ide content -->
    <div class="col-md-9">
        <h3> Delete Category </h3>
        <form method ="POST" action="{% url 'delete_category' category.pk %}" style="width: 500px;">
            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class="btn btn-warning"> Submit </button>
        </form>
    </div>
</div>
{% endblock %}